Package: ru.danpashin.vkparams
Name: VK++
Version: CURRENT_PROJECT_VERSION
Description: Новый VKSettings для VK App 3.x
Priority: optional
Architecture: iphoneos-arm
Author: Daniil Pashin <admin@danpashin.ru>
Maintainer: Daniil Pashin <admin@danpashin.ru>
dev: danpashin
Section: Tweaks
Installed-size: PACKAGE_SIZE
Depiction: https://danpashin.ru/repo/depictions?package=ru.danpashin.vkplusplus
SileoDepiction: https://danpashin.ru/repo/depictions?package=ru.danpashin.vkplusplus
Tag: purpose::extension, compatible::ios9, compatible::ios10, compatible::ios11
Replaces: ru.danpashin.vknoads, ru.danpashin.vknoadult, ru.rejail.vknoadult, ru.precisef0x.vk30minlimitkiller
Conflicts: ru.danpashin.vknoads, ru.danpashin.vknoadult, ru.rejail.vknoadult, ru.precisef0x.vk30minlimitkiller
